<!DOCTYPE html>
<html lang="en">
<head>

  <!-- meta -->
  <meta charset="UTF-8">
  {% include mobile_meta.html %}

  <!-- dns prefetch for faster loading of external resources -->
  {% include dns_prefetch.html %}

  <title>{{ page.title }} &#8212; marinulon.com</title>
  <meta name="author" content="Marin Sekesan">
  <meta name="description" content="{{ page.excerpt }}">

  <!-- stylesheet -->
  <link rel="stylesheet" href="/css/marinulon.css">

  <!-- javascript -->
  {% include javascript.html %}

</head>
<body id="marinulon">

  <header role="banner">

    <a href="/index.html" class="marinulon" rel="home">marinulon</a>
    <a href="#cv"         class="nav-item first">CV</a>
    <a href="#work"       class="nav-item">Work</a>
    <a href="#contact"    class="nav-item last">Contact</a>

  </header>

  <main role="main" class="wrapper">

    <article role="article" id="article">

      <h1 class="h">{{ page.title }}</h1>

      <div class="article__body">

        <div class="article__logo">
          <img src="{{ site.url }}/assets/{{ page.logo }}" alt="{{ page.title }} logo" />
        </div>

        {{ content }}

      </div>

    </article>

  </main>

  <footer role="contentinfo">

    {% include footer.html %}

  </footer>

</body>
</html>
