<!DOCTYPE html>
<html lang="en">
<head>

  <!-- meta -->
  <meta charset="UTF-8">
  {% include mobile_meta.html %}

  <!-- dns prefetch for faster loading of external resources -->
  {% include dns_prefetch.html %}

  <title>nickherreraproduction.com</title>
  <meta name="author" content="Nick Herrera">
  <meta name="description" content="Producer and Engineer for some of Melbourne’s finest and studios.">

  <!-- stylesheet -->
  {% include javascript.html %}
  <link rel="stylesheet" href="{{ site.url }}/css/nickherrera.css">

</head>
<body id="top">

  <main role="main" class="wrapper">

    <section class="page">

      <h1>{{ page.title }}</h1>

      <p>{{ content }}</p>

    </section>

  </main>

  <footer role="contentinfo">
    {% include footer.html %}
  </footer>

</body>
</html>
